@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{

  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  box-sizing: border-box;


}

.Cadastrar{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../../assets/img/login.png");
    background-size: cover;
    background-position:center;
}